<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Намери с Лупичката</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/magnifier.css') }}">
    <link href="https://fonts.cdnfonts.com/css/cramps-2" rel="stylesheet">
                
                
</head>
<body>

    <div class="game-header">
        <div class="title-container">
            <h1>FIND OBJECTS WITH THE MAGNIFIER</h1>
            <h2>раздел "Информатика"</h2>
        </div>
        <div class="game-score">Точки: 0</div>
    </div>

    <div id="game-container">
            
        <div id="game-area">
            <div id="overlay"></div>
            <div id="find-items"></div>
        </div>

        <div id="magnifying-glass">
            <div id="glass"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/magnifier.js') }}"></script>
</body>
</html>
